
{% extends "base.html" %}

{% block title %}Departments - Healthcare Analytics{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1><i class="fas fa-building"></i> Department Performance</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5><i class="fas fa-chart-bar"></i> Department Metrics</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Department</th>
                                <th>Total Admissions</th>
                                <th>Avg. Length of Stay</th>
                                <th>Avg. Cost</th>
                                <th>Total Revenue</th>
                                <th>Occupancy Rate</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dept in departments %}
                            <tr>
                                <td>{{ dept.department_name }}</td>
                                <td>{{ "{:,}".format(dept.total_admissions) }}</td>
                                <td>{{ dept.avg_length_of_stay }} days</td>
                                <td>${{ "{:,.0f}".format(dept.avg_cost) }}</td>
                                <td>${{ "{:,.0f}".format(dept.total_revenue) }}</td>
                                <td>{{ "%.1f"|format(dept.occupancy_rate * 100) }}%</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
