
{% extends "base.html" %}

{% block title %}Financial - Healthcare Analytics{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1><i class="fas fa-dollar-sign"></i> Financial Performance</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5><i class="fas fa-chart-line"></i> Financial Metrics</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Month/Year</th>
                                <th>Total Revenue</th>
                                <th>Total Expenses</th>
                                <th>Net Income</th>
                                <th>Operating Margin</th>
                                <th>Bad Debt</th>
                                <th>Charity Care</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for financial in financial_data %}
                            <tr>
                                <td>{{ financial.month }}/{{ financial.year }}</td>
                                <td>${{ "{:,.0f}".format(financial.total_revenue) }}</td>
                                <td>${{ "{:,.0f}".format(financial.total_expenses) }}</td>
                                <td class="{{ 'text-success' if financial.net_income > 0 else 'text-danger' }}">
                                    ${{ "{:,.0f}".format(financial.net_income) }}
                                </td>
                                <td>{{ "%.1f"|format(financial.operating_margin * 100) }}%</td>
                                <td>${{ "{:,.0f}".format(financial.bad_debt) }}</td>
                                <td>${{ "{:,.0f}".format(financial.charity_care) }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
